@import "tailwindcss";

@source "../layout";
@source "../sections";
@source "../snippets";
@source "../templates";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    font-family: var(--font-primary--family);
  }

  body {
    margin: 0;
    font-family: var(--font-primary--family);
    line-height: 1.5;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}
